#online-sb {
  position: fixed;
  height: 100%;
  width: 20%;
  background-color: $secondary-color;
  color: white;

  .sb-container {
    display: block;
    align-items: center;
    height: 100%;
    width: 100%;

    .sb-logo-container {
      img {
        padding-top: 5%;
        position: relative;
        left: 35%;
        width: 30%;
      }
    }

    .sb-elt-container {
      display: flex;
      flex-direction: row;
      //justify-content: space-around;
      align-items: center;
      width: 50%;
      margin-left: 25%;
      margin-top: 10%;
      padding: 5%;
      border-radius: 25%;

      p {
        position: relative;
        font-size: 0.8em;
        padding-left: 10%;
      }
      img {
        position: relative;
        left: 0;
        width: 20%;
      }
    }

    .selected {
      background-color: $primary-color;
    }

    .sb-separator-container {
      position: relative;
      left: 15%;
      width: 70%;
    }
  }
}

.sb-elt-container:hover {
  background-color: $primary-color;
}

#online-header {
  margin-left: 20%;
  padding-left: 5%;
  padding-top: 3%;

  .header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5%;
  }

  .usr-container {
    background-color: $secondary-color;
    padding: 1% 2.5% 1% 2.5%;
    border-radius: 25%;
    display: flex;
    align-items: center;
    color: white;

    margin-right: 7.5%;

    img {
      position: relative;
      left: 0;
    }
    p {
      margin-left: 15%;
    }
  }
}

.usr-container:hover {
  opacity: 0.9;
}
