#lp-form {
  width: 100%;
  background-color: blue;
  .lp-separator {
    width: 80%;
  }
  h1 {
    font-size: 2.5em;
    font-family: "Poppins-SemiBold";
  }
  .lp-form-container {
    width: 60%;
    margin-top: 5%;
    padding: 10%;
  }
}
