.addh-container {
  color: $regular-font-color;
  margin-left: 20%;
  padding-left: 7.5%;
  margin-right: 2%;

  .row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .addh-elt-container {
      display: block;
      border-radius: 25%;
      margin-top: 5%;
      background-color: blue;

      div {
        background-color: #c4c4c4;
        img {
          width: 162px;
          height: 108px;
        }
        p {
          font-size: 0.8em;
          font-family: "Poppins-SemiBold";
        }
      }
    }
  }
}
