@font-face {
  font-family: "Poppins-Medium";
  src: url("/public/assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("/public/assets/fonts/Poppins/Poppins-SemiBold.ttf")
    format("truetype");
}
